#header{
	position:absolute;
	top:0px;
	left:0px;
	height:153px;
	width:1520px;
	border-bottom:3px solid #900;
	border-right:3px solid #900;
	z-index:1;
}

#logo{
	position:absolute;
	top:0px;
	left:0px;
	height:150px;
	width:300px;
	background-image:url('../img/pics/Logo.jpg');
	background-repeat:no-repeat;
	z-index:2;
}

#banner{
	position:absolute;
	top:0px;
	left:299px;
	height:150px;
	width:1217px;
	background-image:url('../img/pics/Banner.jpg');
	background-repeat:no-repeat;
	z-index:2;
}

#toolbar{
	position:absolute;
	top:153px;
	bottom:0px;
	left:0px;
	width:150px;
	background-color:#666;
	padding:10px;
	border-right:3px solid #900;
}

#map{
	position:absolute;
	top:0px;
	bottom:0px;
	left:149px;
	right:0px;
}

.btn{
	border:0px;
	color:#fff;
}