#header{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:75px;
	background-image:url('../img/pics/Banner.jpg');
	border-bottom:1px solid #ccc;
}

#link{
	background-image:url('../img/pics/Title.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:800px;
	margin-top:0px;
	margin-left:100px;
	height:79px;
	font-size:0px;
}

#link:hover{
	background-position:0px -79px;
}

#toolbar{
	position:absolute;
	top:75px;
	bottom:0px;
	left:0px;
	width:175px;
	background-color:#666;
	padding:10px;
}

#map{
	position:absolute;
	top:75px;
	bottom:0px;
	left:175px;
	right:0px;
}

.btn{
	border:0px;
	color:#fff;
}